.App {width: 100vw; 
  height: 100vh;
  background-image: linear-gradient(to bottom, #031e55, #57559b); 
  
}

.App-header {
  background-color: white;
  display: flex;
  justify-content: center;
}

li{
    list-style: none;
}

.iconos{
    display: flex;
    align-items: center;
}

.icono{
    width: 40px;
    margin-right: 25px;
}